html,
body {
	padding: 0;
	margin: 0;
}
.vacancy-card {
	border: 7px solid #e3e3e3;
	padding: 50px 35px 40px 35px;
}
.about-project {
	background: #eaf1f4;
	padding: 25px;
	
}
.heading3 {
	margin: 0 0 30px 0;
}
.paragraph {
	margin: 0 0 40px 0;
	line-height: 30px;
}
